*/key.json
*/usr1.pub
*/usr1
*/terraform.tfvars
*/.terraform
*/terraform/.terraform/
*/.terraform/*
*/terraform.tfstate
*/terraform.tfstate.backup
*/terraform.tfstate.backup
*/.terraform.lock.hcl
inventory
terraform_ansible/versions.tf
docker/.env
terraform/.terraform.tfstate.lock.info
hosts.ini
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
